#root {
  max-width: 40em;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.card--list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr)); /* Adjust column width as needed */
  gap: 1.5em;
}

.card {
  padding: 2em;
  margin: 1em;
}

.card--image {
  max-width: 100%;
}

.card--title {
  font-weight: bold;
}

.confetti--button {
  padding: 15px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #0e22a3;
  background-color: #c2c9f3;
  border: none;
  border-radius: 30px;
}

.footer {
  text-align: center;
  padding: 10px 0;
  margin-top: auto; /* Push the footer to the bottom */
  flex-shrink: 0; /* Prevent footer from shrinking */
  width: 100%;
}

.home--bio {
  margin-bottom: 3em;
}

.home--experiences {
  margin-top: 5em;
  text-align: center;
}

.home--linkedin {
  text-align: center;
  margin-bottom: 5em;
}

.home--title {
  margin-bottom: 3em;
}

.link {
  color: #0e22a3
}

.painting {
  margin-bottom: 3em;
}

.painting--image {
  width: 300px;
  height: auto;
}

.painting--title {
  margin-top: 2em;
  margin-bottom: 2em;
}

.sidebar {
  position: fixed;
  top: 1em;
  left: 1em;
  height:100%;
  width:200px;
}

.sidebar--img {
  max-width: 100%;
  height: auto;
  width: 8em;
  height: auto;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 1em;
  font-family: Helvetica;
}

.sidebar-nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-nav li a {
  display: block;
  color: #0e22a3;
  text-decoration: none;
  padding: 8px 16px;
}

.sidebar-nav li a:hover {
  color: #7584e0;
}

.sidebar--title {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
}